<p>view-incident-component works!</p>
<h2>Incident</h2>
<div *ngIf="Incident | async as incident">
  <h3>"{{ incident.type }}"</h3>
  <div>
    <label>Id: </label>{{ incident.id }}</div>
  <div>
    <label>Description: </label> {{ incident.description}} </div>
  <div>
    <label>Created At: </label> {{ incident.created}} </div>
  <div>
    <label>Detected At: </label> {{ incident.detected}} </div>
  <div>
    <label>Reported By: </label> {{ incident.reporter}} </div>
  <div>
    <label>Traffic lignts protocol: </label> {{ incident.tlp}} </div>
</div>
